<!DOCTYPE html>

<html>
	
	<head>
		<title>Rango</title>
	</head>
	
	<body>
		<div>
		{% if category %}
			<h1>{{category.name}}</h1>
			{% if pages %}
				<u1>
				{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
				</u1>
				{% else %}
				<strong>No pages currently in category.<strong>
			{% endif %}
			<br/>
			<a href="/rango/category/{{ category.slug }}/add_page">Add Page</a>
			<br/>
		{% else %}
			The specified category does not exist!
			<a href="/rango/add_category">Add a Category?</a>
			<br/>
		{% endif %}
		</div>
	</body>
	
</html>
	